*{
    margin: 0;
    padding: 0;
    color: #E6B800;
}
header{
    height: 15vh;
    width: 100vw;
    background-color: #333333;
}
.corpo{
    display: flex;
    width: 100vh;
    height: 80vh;
}
.agendamento{
    background-color: #1F1F1F;
    height: 75vh;
    width: 40vw;
}
.lista-agendados{
    background-color: #2e2e2e;
    width: 60vw;
    height: 75vh;
}